<h1>Novo Restaurante</h1>

<form action="/create" method="post">
  <div>
    <label for='name'>Nome do Restaurante:</label>
    <input type="text" name="name" id='name'>
  </div>

  <div>
    <label for='name'>Endereço:</label>
    <input type="text" name="address" id='address'>
  </div>

  <div>
    <label for='name'>URL da imagem:</label>
    <input type="text" name="image" id='image'>
  </div>

  <div>
    <button>Salvar Dados</button>
  </div>
</form>